<body>
  <div class="text-center mt-5">
      <h3 class="text-info font"><b>Change Password</b></h3><br>
      <p>{% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
              <small class="text-danger font"><b>{{ error }}</b></small>
          {% endfor %}
      {% endif %}</p>
  
      <form method="post" novalidate>
          {% csrf_token %}
          <div>
              <span class="text-danger font"><b>{{ form.old_password.errors }}</b></span>
              <span class="font"><b>{{ form.old_password.label }}</b></span> {{ form.old_password }}
          </div>
          <br>
          <div>
              <span class="text-danger font"><b>{{ form.new_password1.errors }}</b></span>
              <span class="font"><b>{{ form.new_password1.label }}</b></span> {{ form.new_password1 }}
          </div>
          <br>
          <div>
              <span class="text-danger font"><b>{{ form.new_password2.errors }}</b></span>
              <span class="font"><b>{{ form.new_password2.label }}</b></span> {{ form.new_password2 }}
          </div>
          <br>
          <button class="font btn btn-info"><b>Change Password</b></button>
      </form>
  </div>
  </body>