<body>
  <div class="text-center" style="margin-top: 50px;">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success font"><b>{{ message }}</b></div>
      {% endfor %}
    {% endif %}

    <form method="post" novalidate>
      {% csrf_token %}
      <h3 class="text-info"><b>Registration form</b></h3><br>

      <span class="text-danger font"><b>{{ fm.username.errors }}</b></span>
      <span><b>{{ fm.username.label }}</b></span> {{ fm.username }}<br><br>

      <span class="text-danger font"><b>{{ fm.email.errors }}</b></span>
      <span><b>{{ fm.email.label }}</b></span> {{ fm.email }}<br><br>

      <span class="text-danger font"><b>{{ fm.first_name.errors }}</b></span>
      <span><b>{{ fm.first_name.label }}</b></span> {{ fm.first_name }}<br><br>

      <span class="text-danger font"><b>{{ fm.last_name.errors }}</b></span>
      <span><b>{{ fm.last_name.label }}</b></span> {{ fm.last_name }}<br><br>

      <span class="text-danger font"><b>{{ fm.password1.errors }}</b></span>
      <span><b>{{ fm.password1.label }}</b></span> {{ fm.password1 }}<br><br>

      <span class="text-danger font"><b>{{ fm.password2.errors }}</b></span>
      <span><b>{{ fm.password2.label }}</b></span> {{ fm.password2 }}<br><br>

      <button class="btn btn-info font"><b>Submit</b></button>
    </form>
  </div>
</body>
